@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rajdhani";
  src: url("./fonts/Rajdhani-Light.ttf") format("rajdhani-l"),
    url("./fonts/Rajdhani-Medium.ttf") format("rajdhani-m"),
    url("./fonts/Rajdhani-Regular.ttf") format("rajdhani-r"),
    url("./fonts/Rajdhani-Bold.ttf") format("rajdhani-b"),
    url("./fonts/Rajdhani-SemiBold.ttf") format("rajdhani-semiB");
}

body {
  font-family: "Rajdhani", sans-serif;
}

img {
  display: "block";
  border: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: rgba(31, 244, 166, 0.8);
  border-radius: 100px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
